.loginput
{
	width:235px;
	height:30px;
	margin-top:3%;
	padding: 1%;
}
.buttonwrapper
{
	margin-top:4%;
	margin-bottom:10%;
}
.formwrapper
{
	padding-top:5%;
	width:30%;
	text-align:center;
	margin:auto;
	height:1%;
	border:1px solid;
}
.navbar-inverse .navbar-nav>li>a
{
border-bottom: 3px solid transparent;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active
{
border-bottom: 3px solid #378bd4;
text-decoration: none;
}
.navbar-inverse .navbar-nav>li>a>a
{
	text-decoration: none;
}
body
{
	background-color: #4e75af !important;
}
.carousel.slide
{    
    z-index: 2;
    box-shadow: 0px 10px 15px #161823;
}
.btn.btn-default.custom-button
{
	position: fixed;
    bottom: 5%;
    right: 2%;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    color: #e6e6e6;
    background-color: #0b0c0c;
    border: none;
}